a {
    color: #333;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    empty-cells: show;
}

#post_button {
    background: #78d1c1;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    color: #fff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    vertical-align: middle;
}

.bm_h {
    border: 0;
    background: #F2F2F2;
    border-bottom: 1px solid #C2D5E3;
    border-top: 1px solid #FFF;
    height: 10%;
    overflow: hidden;
    padding: 0 10px;
    white-space: nowrap;
}

.bm_h h4 {
    border-left: 6px solid #61cab8;
    margin: 13px 0;
    padding-left: 10px;
}

.tedt {
    background: #fff;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.xi2 {
    color: #333;
}

.xi2:hover {
    color: #ff855b;
}

.me-2 {
    width: 8em;
    height: 8em;
    outline: white solid 0.25em;
    margin: 1em;
}

.post_box {
    border-bottom: rgba(0, 0, 0, .15) solid 0.01em;
    transition: all .1s ease-in-out;
}

.post_box:hover {
    background-color: white;
}
