<app-navigation [selected_section]='"archive"'></app-navigation>

<div class="container" style="margin-top: 56px;">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">简介</strong>
                    <h3 class="mb-0">关于缇吉娅工坊</h3>
                    <div class="mb-1 text-muted">更新于2016年12月11日</div>
                    <p class="card-text mb-auto">关于缇吉娅工坊的起源</p>
                    <a class="stretched-link" href="/introduction">继续阅读</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false" height="250"
                         preserveAspectRatio="xMidYMid slice"
                         role="img" width="200" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect fill="#55595c" height="100%" width="100%"></rect>
                        <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">资料</strong>
                    <h3 class="mb-0">Linpg引擎使用指南</h3>
                    <div class="mb-1 text-muted">更新于2021年9月11日</div>
                    <p class="mb-auto">获取更多关于Linpg引擎使用须知和教程信息</p>
                    <a class="stretched-link" href="/wiki?src=<linpg>">继续阅读</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false" height="250"
                         preserveAspectRatio="xMidYMid slice"
                         role="img" width="200" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect fill="#55595c" height="100%" width="100%"></rect>
                        <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
